*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}
.d-block{
    height: 60%;
    width: 60%;
    align-items: center;
}
.pegaline{
    text-align: center;
}

.center{
    text-align: center;
    
    font-family: 'Square Peg', cursive;
    font-family: 'Ubuntu', sans-serif;
}
.color{
    text-align: center;
    text-decoration: none;
    text-decoration-style: solid;
    color: chartreuse;
}

.btn{
    color: white;
    background-color: green;
    padding:8px 12px;
    border:2px solid
    border-radius: 13px;
    cursor: pointer;
}


